.userTable{
    width: 60%;
    background-color: white;
    box-shadow:  1px 1px 8px rgba(red, green, blue, alpha);
    border-radius: 5px;
    margin: 50px auto;
    padding: 50px ;
}
.addButton{
    text-decoration: none;
    background-color: purple;
    color: white;
    font-weight:600;
    box-shadow:  1px 1px 9px rgba(red, green, blue, alpha);
    border: 5px;
    padding: 11px;
}
.userTable table{
    width: 100px;
    margin-top: 33px;
    border-collapse: collapse;
}
.userTable table thead th{
    background-color: blueviolet;
    color: white;
    padding: 11px;
}
.userTable table tbody td{
    padding: 11px;
    text-align: center;
}

.actionButton button{
    border: 0;
    outline: none;
    background-color: red;
    padding: 9px 11px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.actionButton a{
    margin: 0 10px;
    text-decoration: none;
    background-color:green;
    padding: 6px 11px;
    color: white;
    border-radius: 5px;
}
